body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-family: 'Poppins', sans-serif;
}

.navlink {
  color: #191919 !important;
  padding: 0;
  margin-right: 30px;
}

.button{
  border-radius: 50px;
  color: white;
  background: linear-gradient(#B830D8, #612EB9) !important;
  border-style: none;
  height: 50px;
  width: 150px;
  box-shadow: 0 0 2px #E00BE8;
  margin-top: 12px;
  line-height: -moz-block-height;
}

#basic-navbar-nav{
  line-height: 4.5em;
}
