html{
  margin: 0;
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url("img/Promo ulu.png") no-repeat right top;
  background-size: 70vh;
}

.navbar{
  background: transparent;
}

.nav-link{
  color: #191919 !important;
  margin-right: 30px;
  line-height: 2.5em;
  font-weight: 300;
}

.btn{
  border-radius: 50px;
  background: linear-gradient(#B830D8, #612EB9);
  border-color: none;
  box-shadow: 0 0 2px #E00BE8;
  color: white;
  height: 55px;
  display: inline-block;
}

.btn:hover{
  color: white;
}

.purple{
  color: #B830D8;
}

.center{
  height: 700px;
  position: relative;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-toggler-icon{
  color: black;
}

.spacing{
  padding: 0 5px 10px 5px;
}

.section{
  height: 100vh;
}

.card{
  box-shadow: 0 3px 5px 0 #D3D3D3;
  border-radius: 10px;
  border-style: none;
}

.white{
  height: 3px;
  color: white;
  background-color: white;
  border: none;
}

.footer-link{
  color: #A7A7A7;
}

.footer-link:hover{
  color: white;
}

.footer{
  background-color: #191919;
  padding-top: 40px;
}

.logo-footer{
  width: 150px;
  height: auto;
}

.fixed-top.scrolled {
  background-color: #191919 !important;
  transition: background-color 200ms linear;
}

.nav-link.scrolled {
  color: white !important;
}

.logo{
  width: 60px;
}
